node_modules/
.env
dist/

# Dependencies
node_modules/
/frontend/node_modules/
/backend/node_modules/

# Production builds
/frontend/dist

# Environment variables & secrets
.env
.env.local

# Local uploads / files
/backend/uploads/*
!/backend/uploads/.gitkeep