.header {
  height: 34vw;
  margin: 30px auto;
  background: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=1470&auto=format&fit=crop') no-repeat center center;
  background-size: cover;
  position: relative;
  border-radius: 12px;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 1s;
}

.header-contents h2 {
  font-weight: 600;
  color: white;
  font-size: max(4.5vw, 22px);
  line-height: 1.1;
}

.header-contents p {
  color: white;
  font-size: max(1vw, 12px);
}

.header-contents button {
  border: none;
  color: #494949;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.header-contents button:hover {
  background-color: #f0f0f0;
}